<footer>
  <div class="fiesta-name">
    <p>Fiesta'23</p>
  </div>
  <div class="queries">
    <p>For queries contact: T Prabaharan/Mech</p>
    <div class="mail">
      
    </div>
  </div>

  <div class="solo event">
    <li><a routerLink='/event/0'>As You Like It</a></li>
          <li><a routerLink='/event/1'>Best Manager</a></li>
          <li><a routerLink='/event/3'>Solo Singing</a></li>
          <li><a routerLink='/event/2'>Solo Dance</a></li>
          <li><a routerLink='/event/4'>Solo Instrumental</a></li>
          <li><a routerLink='/event/5'>Pixie</a></li>
          <li><a routerLink='/event/6'>Pencil Sketching</a></li>
          <li><a routerLink='/event/7'>Yoga</a></li>
          <li><a routerLink='/event/8'>Eluthani</a></li>
          <li><a routerLink='/event/19'>Poster Making</a></li>
  </div>

<!--   
  <div class="col-lg-5 col-md-7 col-sm-12">
    <div class="footer-link d-flex mt-50 justify-content-sm-between">
      <div
        class="link-wrapper wow fadeIn"
        data-wow-duration="1s"
        data-wow-delay="0.4s"
      >
        <div class="footer-title">
          <h4 class="title">Solo Events</h4><br>
        </div>
        <ul class="link">
          <li><a routerLink='/event/0'>As You Like It</a></li>
          <li><a routerLink='/event/1'>Best Manager</a></li>
          <li><a routerLink='/event/3'>Solo Singing</a></li>
          <li><a routerLink='/event/2'>Solo Dance</a></li>
          <li><a routerLink='/event/4'>Solo Instrumental</a></li>
          <li><a routerLink='/event/5'>Pixie</a></li>
          <li><a routerLink='/event/6'>Pencil Sketching</a></li>
          <li><a routerLink='/event/7'>Yoga</a></li>
          <li><a routerLink='/event/8'>Eluthani</a></li>
          <li><a routerLink='/event/19'>Poster Making</a></li>

        </ul>
      </div>
      footer wrapper
      <div
        class="link-wrapper wow fadeIn"
        data-wow-duration="1s"
        data-wow-delay="0.6s"
      >

      <div class="footer-title">
        <h4 class="title">Group Events</h4>
      </div>
      <ul class="link">
        <br>
        <li><a routerLink='/event/20'>Rangoli</a></li>
        <li><a routerLink='/event/9'>Divide and Conquer</a></li>
        <li><a routerLink='/event/11'>Monsters’ Muss</a></li>
        <li><a routerLink='/event/10'>Treasure Hunt</a></li>
        <li><a routerLink='/event/14'>Lyrical Hunt</a></li>
        <li><a routerLink='/event/18'>Group Dance</a></li>
        <li><a routerLink='/event/12'>Radio Mirchi</a></li>
        <li><a routerLink='/event/13'>English Potpourri</a></li>
        <li><a routerLink='/event/15'>Tamil Potpourri</a></li>
        <li><a routerLink='/event/16'>Cinematrix (Short Flim)</a></li>
        <li><a routerLink='/event/17'>Quizzards of Oz</a></li>
      </ul>
      </div>
      footer wrapper -->

<!-- 


   <div class="developer">
    Developed by<br>
	<a target="_blank" href="https://github.com/Sujit-Ragav" style="text-decoration:none;color:rgb(85, 141, 232);">M.Sujit Ragav</a>, <a  target="_blank" style="text-decoration:none;color:rgb(85, 141, 232);" href="https://github.com/Prama-karthick">Prama Karthick</a>, <a target="_blank" href="https://github.com/siyon2003" style="text-decoration:none;color:rgb(85, 141, 232);">Siyon</a>
  </div>

  <div class="">
    <br>

  </div> -->
</footer>
