<footer>


  <!-- <div class="Contact">
    <div class="Contact-child">
      <h3>Contraflexure:</h3>
      <p>Mr.M.Thiruvannamalai, AP(Sr.G.)/CIV:</p>
      <p>thiruvannamalaim.apce@mepcoeng.ac.in</p>
      <p>8124089864</p>
    </div>

    <div class="Contact-child">
      <h3>Zwitterion:</h3>
      <p>Dr.A.Allwyn Clarence Asis, ASP/EEE:</p>
      <p>iamallwyn@mepcoeng.ac.in</p>
      <p>9442324535</p>
    </div>

    <div class="Contact-child">
      <h3>Erudition:</h3>
      <p>Mr.J.Dani Reagan Vivek,AP(Sr.G.)/ECE:</p>
      <p>danireagan@mepcoeng.ac.in</p>
      <p>9488068863</p>
    </div>

    <div class="Contact-child">
      <h3>Vipravuha:</h3>
      <p>Dr.J.Maruthu Pandi, ASP/IT:</p>
      <p>maruthupandi@mepcoeng.ac.in</p>
      <p>9080055715</p>
    </div>

    <div class="Contact-child">
      <h3>Sunwins:</h3>
      <p>Mr.D.Jones Joseph Jebaraj:</p>
      <p>djonesjebaraj@mepcoeng.ac.in</p>
      <p>8344283096</p>
    </div>

    <div class="Contact-child">
      <h3>Biologix:</h3>
      <p>Ms.M.Indiraleka,AP(Sr.G.)/BT:</p>
      <p>indiraleka@mepcoeng.ac.in</p>
      <p>7402389414</p>
    </div>

    <div class="Contact-child">
      <h3>Exponents:</h3>
      <p>Dr.B.Karthikeyan ,AP(Sr.G.)/PHY:</p>
      <p>karthikeyanb@mepcoeng.ac.in</p>
      <p>9843566445</p>
    </div>

    <div class="Contact-child">
      <h3>Cossack:</h3>
      <p>Mr.J.Murugachandravel:</p>
      <p>jmuruga@mepcoeng.ac.in</p>
      <p>9791225266</p>
    </div> -->
    <div
    class="subscribe-area wow fadeIn"
    data-wow-duration="1s"
    data-wow-delay="0.5s"
>
    <div class="row">
        <div class="col-lg-6">
            <div class="subscribe-content mt-45">
        <h2 class="subscribe-title">
          <br><br>
            For Queries<span>Contact:Dr.T.Prabaharan/Mech</span>
            <br><br>
        </h2>
        </div>
    </div>
    <!-- <div class="col-lg-6">
        <div class="subscribe-form mt-50">
            <form action="#">
                <input type="text" placeholder="Feedback/Queries" />
                <button class="main-btn">Report</button>
            </form>
        </div>
    </div> -->
</div>
<!-- row -->
</div>
<!-- subscribe area -->
<div class="footer-widget pb-100">
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div
      class="footer-about mt-50 wow fadeIn"
      data-wow-duration="1s"
      data-wow-delay="0.2s"
    >
      <a class="logo" style="color: white; font-size: 40px; margin-bottom:0px;" href="javascript:void(0)" >
        Fiesta'23
      </a>
      <br><br>
      <p class="text">
        We provide a platform for students to showcase one's unique talents.<br>

        Powered by Extra Curricular Clubs.<br>
        <!-- Email: mepcofiestajuniors@gmail.com -->
      </p>
      <br><br>
      <!-- <ul class="social">
        <li>
          <a href="javascript:void(0)">
            <i class="lni lni-facebook-filled"> </i>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="lni lni-twitter-filled"> </i>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="lni lni-instagram-filled"> </i>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <i class="lni lni-linkedin-original"> </i>
          </a>
        </li>
      </ul> -->
    </div>
    <!-- footer about -->
  </div>
  <div class="col-lg-5 col-md-7 col-sm-12">
    <div class="footer-link d-flex mt-50 justify-content-sm-between">
      <div
        class="link-wrapper wow fadeIn"
        data-wow-duration="1s"
        data-wow-delay="0.4s"
      >
        <div class="footer-title">
          <h4 class="title">Solo Events</h4><br>
        </div>
        <ul class="link">
          <li><a routerLink='/event/0'>As You Like It</a></li>
          <li><a routerLink='/event/1'>Best Manager</a></li>
          <li><a routerLink='/event/3'>Solo Singing</a></li>
          <li><a routerLink='/event/2'>Solo Dance</a></li>
          <li><a routerLink='/event/4'>Solo Instrumental</a></li>
          <li><a routerLink='/event/5'>Pixie</a></li>
          <li><a routerLink='/event/6'>Pencil Sketching</a></li>
          <li><a routerLink='/event/7'>Yoga</a></li>
          <li><a routerLink='/event/8'>Eluthani</a></li>
          <li><a routerLink='/event/19'>Poster Making</a></li>

        </ul>
      </div>
      <!-- footer wrapper -->
      <div
        class="link-wrapper wow fadeIn"
        data-wow-duration="1s"
        data-wow-delay="0.6s"
      >

      <div class="footer-title">
        <h4 class="title">Group Events</h4>
      </div>
      <ul class="link">
        <br>
        <li><a routerLink='/event/20'>Rangoli</a></li>
        <li><a routerLink='/event/9'>Divide and Conquer</a></li>
        <li><a routerLink='/event/11'>Monsters’ Muss</a></li>
        <li><a routerLink='/event/10'>Treasure Hunt</a></li>
        <li><a routerLink='/event/14'>Lyrical Hunt</a></li>
        <li><a routerLink='/event/18'>Group Dance</a></li>
        <li><a routerLink='/event/12'>Radio Mirchi</a></li>
        <li><a routerLink='/event/13'>English Potpourri</a></li>
        <li><a routerLink='/event/15'>Tamil Potpourri</a></li>
        <li><a routerLink='/event/16'>Cinematrix (Short Flim)</a></li>
        <li><a routerLink='/event/17'>Quizzards of Oz</a></li>
      </ul>
      </div>
      <!-- footer wrapper -->
    </div>
    
    <!-- footer link -->
  </div>
  <div class="col-lg-3 col-md-5 col-sm-12">
            
            
    <!-- footer contact -->
  </div>
</div>
<!-- row -->
</div>



   <div class="developer">
    Developed by<br>
	<a target="_blank" href="https://github.com/Sujit-Ragav" style="text-decoration:none;color:rgb(85, 141, 232);">M.Sujit Ragav</a>, <a  target="_blank" style="text-decoration:none;color:rgb(85, 141, 232);" href="https://github.com/Prama-karthick">Prama Karthick</a>, <a target="_blank" href="https://github.com/siyon2003" style="text-decoration:none;color:rgb(85, 141, 232);">Siyon</a>
  </div>

  <div class="">
    <br>

  </div>
</footer>
