*{
  margin: 0;
  padding: 3px;
  
  background-color: rgb(0, 0, 0);
}
.names{
  color: aliceblue;
  font-size:large;
}
.text{
  font-family: cursive;
}
.developer{
  color: aliceblue;
  text-align: center;
}
.eventslist{
flex-wrap: wrap;
display: flex;
}
a{
  font-size: medium;
}
.soloevents{
  display: inline-block;
}
.groupevents{
  float:right;
}

/* 
.fiesta-name{
  color: white;
  margin-top: .5em;
}
.queries{
  color: white;
}
.solo-event li{
  color: white;
  border-style: none;
} */
a{
  text-decoration:none;
  color:rgb(85, 141, 232);
}
