<footer>
  <footer id="footer" class="footer-area pt-120">
    <div class="container">
        <div
            class="subscribe-area wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay="0.5s"
        >
            <div class="row">
                <div class="col-lg-6">
                    <div class="subscribe-content mt-45">
                <h2 class="names">
                    For Queries<br> <br>&nbsp; Contact:  &nbsp;Dr.T.Prabaharan/Mech
                    <br>
                     <br>&nbsp; Mail:  &nbsp;mepco23developers@gmail.com
                </h2>
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="subscribe-form mt-50">
                    <form action="#">
                        <input type="text" placeholder="Feedback/Queries" />
                        <button class="main-btn">Report</button>
                    </form>
                </div>
            </div> -->
        </div>
        <!-- row -->
        </div>
      <!-- subscribe area -->
      <div class="footer-widget pb-100">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8">
            <div
              class="names"
              data-wow-duration="1s"
              data-wow-delay="0.2s"
            >
              <a class="logo" style="color: white; font-size: 40px; margin-bottom:0px;" href="javascript:void(0)" >
                Legacy'23<br>
              </a>
              <p class="text">
                Platform for students to showcase one's unique talents.<br>
                Powered by Extra Curricular Clubs.<br>
               
              </p>
             
            </div>
            <!-- footer about -->
          </div>
          <div class="col-lg-5 col-md-7 col-sm-12">
            <div class="eventslist">
              <div
                class="soloevents"
                data-wow-duration="1s"
                data-wow-delay="0.4s"
              >
                <div class="names">
                  <h4 class="title">Solo Events</h4>
                </div>
                <ul class="link">
                  <li><a href='/event/0'>As You Like It</a></li>
                  <li><a href='/event/1'>Best Manager</a></li>
                  <li><a href='/event/3'>Solo Singing</a></li>
                  <li><a href='/event/2'>Solo Dance</a></li>
                  <li><a href='/event/4'>Solo Instrumental</a></li>
                  <li><a href='/event/5'>Pixie</a></li>
                  <li><a href='/event/6'>Pencil Sketching</a></li>
                  <li><a href='/event/7'>Yoga</a></li>
                  <li><a href='/event/8'>Ezhuthaani</a></li>
                  <li><a href='/event/9'>Divide and Conquer</a></li>
                </ul>
              </div>
              <!-- footer wrapper -->
              <div
                class="Groupevents"
                data-wow-duration="1s"
                data-wow-delay="0.6s"
              >
               <div class="names">
                <h4 class="title">Group Events</h4>
              </div>
              <ul class="link">
                <li><a href='/event/20'>Rangoli</a></li>
                <li><a href='/event/19'>Poster Making</a></li>
                <li><a href='/event/11'>Monsters’ Muss</a></li>
                <li><a href='/event/10'>Treasure Hunt</a></li>
                <li><a href='/event/14'>Lyrical Hunt</a></li>
                <li><a href='/event/18'>Group Dance</a></li>
                <li><a href='/event/12'>Radio Mirchi</a></li>
                <li><a href='/event/13'>Potpourri</a></li>
                <li><a href='/event/15'>Sherlock Holmes</a></li>
                <li><a href='/event/16'>Cinematrix (Short Flim)</a></li>
                <li><a href='/event/17'>Quiz</a></li>
              </ul>
              </div>
              <!-- footer wrapper -->
            </div>
            
            <!-- footer link -->
          </div>
          <div class="col-lg-3 col-md-5 col-sm-12">
            
            
            <!-- footer contact -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- footer widget -->
    </div>
    <!-- container -->
    <div id="particles-2"></div>
</footer>
   <div class="developer">
    <h3>Developed by</h3><br>
	<!-- <a target="_blank" href="https://github.com/Sujit-Ragav" style="color:rgb(231, 140, 70);font-size: medium;">M.Sujit Ragav</a>, -->
    <a  target="_blank" style="font-size: medium;text-decoration:none;color:rgb(231, 140, 70);" href="https://github.com/Prama-karthick">Students Software Team</a>, 
    <!--<a target="_blank" href="https://github.com/siyon2003" style="text-decoration:none;font-size: medium;color:rgb(231, 140, 70);">Siyon V A</a> -->
  </div>

  <div class="">
    <br>

  </div>