<header>
  <div class="container">
    <a routerLink="/" class="logo">Fiesta'23 Seniors</a>
    <nav>
      <ul>
        <li><a routerLink="/workshop" *ngIf="user.isAdmin && (user.email==='pramakarthick@gmail.com')">WorkshopList</a></li>
        <li><a routerLink="/admin" *ngIf="user.isAdmin && (user.email==='pramakarthick@gmail.com')">Admin</a></li>
        <!-- <li>
          <a href="https://goo.gl/maps/kDvWTuZmVeq8E5va6" target="_blank">Location</a>
        </li> -->
        <li  class="menu-container">
          <a routerLink="/">Home</a>
          <div class="menu">
            <a routerLink="/group/group1">Solo Events</a>
            <a routerLink="/group/group2">Group Events</a>
          </div>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuth">
          <!-- <a routerLink="/register">Register</a>     Legacy -->
          <a routerLink="/studentregistration">Register</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a >{{user.name}}↓</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
