<!-- <div class="container">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div class="details">
    <h1>Sign in</h1>
    <form class="form_class" [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="input-container">
          <label>Admission Number:</label>
          <div>
            <input class="field_class" type="email" placeholder="abc@xyz.com" formControlName="email" />
          </div>
          <div class="error-list" *ngIf="fc['email'].errors && isSubmitted">
            <div *ngIf="fc['email'].errors['required']">Should not be empty</div>
            <div *ngIf="fc['email'].errors['email']">Email is not correct</div>
          </div>
        </div>
        <div class="input-container">
          <label>Password:</label>
          <div>
            <input class="field_class" type="password" placeholder="Enter password" formControlName="password" />
          </div>
          <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
            <div *ngIf="fc['password'].errors['required']">Should not be empty</div>
          </div>
        </div>
          <button type="submit">Login</button>
        <div class="info_div">
              <p>If not registered? <a routerLink="/register">Signup!</a></p>
        </div>
    </form>
  </div>
 </div> -->

 <div class="container">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <!-- <div *ngIf="loading">
    <app-loading></app-loading>
  </div> -->
  <div>
  <div class="details">
    <!-- <h1>Login</h1>
    <div >
    <form class="form_class" [formGroup]="sloginForm" (ngSubmit)="studentlogin()">
        <div class="input-container">
          <label>Admission Number:</label>
          <div>
            <input class="field_class" type="string" placeholder="." formControlName="adnumber" />
          </div>
          <div class="error-list" *ngIf="fc['adnumber'].errors && isSubmitted">
            <div *ngIf="fc['adnumber'].errors['required']">Should not be empty</div>
            <div *ngIf="fc['adnumber'].errors['adnumber']">Enter Proper Admission Number</div>
          </div>
        </div>
        <div class="input-container">
          <label>Password:</label>
          <div>
            <input class="field_class" type="password" placeholder="Enter password" formControlName="password" />
          </div>
          <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
            <div *ngIf="fc['password'].errors['required']">Should not be empty</div>
          </div>
        </div>
          <button type="submit" [disabled]="wait" >Login</button>
          <div class="start" *ngIf="wait" >Loading...</div>
    </form>
  </div> -->
  <!-- <h3 style="padding-top: 10%;">Common Rules</h3> -->
  <div *ngIf="!next">
  <h3><a target="_blank" style="color: red;text-decoration: none;" href="https://drive.google.com/file/d/1_rpDGXRWD6ewV99auyaOyYQYIVF6EsMT/view?usp=drive_link"><b>Common Rules</b></a></h3><br>
  <ul>
    <li><b>Registration for Legacy’23 should be done only through the forms provided by
      Mepco Schlenk Engineering College, Sivakasi.</b></li><br>
    <li><b>The entire registration procedure should be completed on or before
      09-09-2023.</b></li><br>
    <li><b>Maximum number of participants per college is 50 (Fifty) only.</b></li><br>
    <li><b>Participants should bring bonafide certificate and their college ID card.</b></li><br>
    <li><b>Maximum of two faculty per college should accompany the participants.</b></li><br>
  </ul>
</div>
  <div class="documents" *ngIf="next">
  <b><h3  >Registration Steps</h3></b><br><br>
  <!-- <div class="screenshots" style="display:flex;padding-top: 5%;">
    <h3>Click here -><a target="_blank" href="assets/legacy/Legacy'23 Registration Process.pdf" style="background-color: red;color: white;text-decoration: none;" download>Registration Steps pdf</a></h3>
  </div> -->
  <div style="padding-top: 1%;">
  <ol>
    <b>
      <li>Download The Excel sheet ->     
        <a style="background-color: green;color: white;text-decoration: none;" target="_blank"
             href="assets/legacy/Registration Excel.xlsx" download>Registration Excel
          </a>    
      </li><br>
      <li>
        <a>Fill the excel sheet with a proper details to particpate in events</a>
      </li><br>
      <li>
        <a>Fill the G-form by uploading the Excel sheet ->
          <a style="background-color: blue;color: white;text-decoration: none;"
           target="_blank" href="https://forms.gle/nCZvHgq3MDzQF5H26" >
           Legacy’23 Registration G-Form
          </a>
        </a>
      </li><br>
      <li>
        <a>Students Will receive the mail after Successfull Registration</a>
      </li><br>
    </b>
  </ol>
  </div>
</div> 
<button *ngIf="!next" (click)="next=true">Next</button>
<button *ngIf="next" (click)="next=false">Back</button>
</div>
  </div>
 </div>

