<div class="container">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <!-- <div *ngIf="loading">
      <img src="assets/fiesta/load.gif"/>
    </div> -->
    <!-- <div class="outterlabel">
      <div class="gform">For MBA/MCA Students -><a target="_blank" href="https://forms.gle/HNRME8N99EEm8v3M9">Register Form</a></div>
    <div class="details" >

      <h1>Register</h1><br>
      <div *ngIf="notconfirm">
      <form class="form_class" [formGroup]="sregisterForm" (ngSubmit)="submit()">
          <div class="input-container">
            <label>Admission Number:</label>
            <div>
              <input class="field_class" type="string" placeholder="." formControlName="adnumber" />
            </div>
            <div class="error-list" *ngIf="fc['adnumber'].errors && isSubmitted">
              <div *ngIf="fc['adnumber'].errors['required']">Should not be empty</div>
              <div *ngIf="fc['adnumber'].errors['adnumber']">Enter Proper Admission Number</div>
            </div>
          </div>
          <div  class="genderbox">
            <label>Gender:</label>&nbsp;
          <select class="round" formControlName="gender">
            <option value="" disabled selected hidden>Not selected</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div><br>
          <div class="input-container">
            <label>Create Password:</label>
            <div>
              <input class="field_class" type="password" placeholder="Enter password" formControlName="password" />
            </div>
            <div class="error-list" *ngIf="fc['password'].errors && isSubmitted">
              <div *ngIf="fc['password'].errors['required']">Should not be empty</div>
            </div>
          </div>
          <div class="input-container">
            <label>Confirm-Password:</label>
            <div>
              <input class="field_class" type="password" placeholder="Re-Enter password" formControlName="confirmPassword" />
            </div>
            <div class="error-list" *ngIf="fc['confirmPassword'].errors && isSubmitted">
              <div *ngIf="fc['confirmPassword'].errors['required']">Should not be empty</div>
              <div *ngIf="fc['confirmPassword'].errors['confirmPassword']">Both password doesn't match</div>
            </div>
          </div>
            <button type="submit" [disabled]="wait" >Register</button><br><br>
      </form>
    </div>
    <div *ngIf="!notconfirm">
      <h2>Check Your Details</h2><br>
      <span>-------------------------------------------------</span>
      <h4>Name:{{details.name}}</h4><br>
      <h4>Email:{{details.email}}</h4><br>
      <h4>Admission Number:{{details.admissionNo}}</h4><br>
      <h4>Class:{{details.year}}-{{details.department}}-{{details.section}}</h4><br>
      <div class="checkButtons">
        <button (click)="notconfirm=true" [disabled]="wait" >Cancel</button>&nbsp;<button (click)="confirmdetails()" [disabled]="wait" >Confirm and Register</button>
      </div>
    </div>
    <div class="start" *ngIf="wait" >Loading...</div>
  </div>
    </div> -->
<div class="details">
  <h3 style="color: red;">Instructions for Payment</h3><br>
  <ul>
  <li><b>Registration amount is Rs.400 per participant for any number of events (Lunch will
    be provided to all the registered participants on both the days by the college).</b></li><br>
  <li><b>Payment should be done by Demand Draft or Gpay- Dr.R.Gurusamy<span style="background-color:black;color: white;"> 9791419624</span> .</b></li><br>
  <li><b>Demand Draft should be made in favour of “Mepco Schlenk Engineering College”
    payable at Sivakasi.</b></li><br>
  <li><b>Charges for food and accommodation are Rs.250 per participant.</b></li><br>

  </ul>
  
<br><br>
      <!-- <a style="font-size: medium;font-style: normal;color:rgb(231, 105, 70);"  target="_blank" href="https://docs.google.com/spreadsheets/d/1VyYReR1kgLqNcNTUFSmNpAQJvwAovqzdVlv2Uyb_5cM/copy">Click here -> Registeration Excel link</a> -->

</div>
   </div>