<body>
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
  <div class="details" >
    <div class="welcome">
      <img class="mepcologo logo" src="assets/mepcologocolor.png" alt="College logo" routerLink="/profile">
       <!-- <img class="gyanlogo logo" src="assets/fiesta/fiestalogoimg.png" alt="event logo">  -->
      <h1 id='head2' class='header'>Legacy'23</h1>
      <h2 id='head3' class='header'>Tamil Nadu's Biggest Cultural Fest</h2>
      <h6 id='head3' class='header'>by</h6>
      <h6 id='head3' class='header'>Mepco Schlenk Engineering College</h6>
      
      <!-- <h2  class='lastdate'>&nbsp;&nbsp;Last date for Registration in all events: 10/08/2023&nbsp;&nbsp; </h2> -->
    </div>

  </div>
  <div class="domains">
    <div class="details">
    <div class="reg_fee">
      <h3>INSTRUCTIONS</h3><br>
      <h4>Registration Fee : <b> ₹ 300 only </b>(Per participant)</h4><br>
      <h4>Registration Closes by 13.09.2023(Wednesday) 5 PM.</h4><br>
      <h4>Bonafide certificate and Payment Should be done before 9 AM on 15/09/2023.</h4>
    </div><br>
    </div>
    <h1 class="boxesh2">Events</h1>
    <div class="category-container">
    <div id="c1" routerLink="/group/group1" class="category"><p class="default-cardtext">Day 1 </p></div>
    <div id="c2" routerLink="/group/group2" class="category"><p class="default-cardtext">Day 2 </p></div>
    </div>
    <br><br>
    <div class="RegisterationVideo">
    <!-- <h4 style='color: aliceblue;'>Registeration Process</h4> -->
    <!-- <video controls style='max-width: 100%;height: auto;align-self:auto;'>
      <source src="assets/legacy/legacyRegProcess.mp4" type="video/mp4">
    </video> -->
  </div>
    <br>
    <div class='light x1'></div>
    <div class='light x2'></div>
    <div class='light x3'></div>
    <div class='light x4'></div>
    <div class='light x5'></div>
    <div class='light x6'></div>
    <div class='light x7'></div>
    <div class='light x8'></div>
    <div class='light x9'></div>
  </div>
</body>
